<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCHkOvv7kl6Gp5Sos0KsBl71-EUh3_87kA</string>
	<key>GCM_SENDER_ID</key>
	<string>752384356124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sulunbatuhan.DriftKit</string>
	<key>PROJECT_ID</key>
	<string>driftkit-e9931</string>
	<key>STORAGE_BUCKET</key>
	<string>driftkit-e9931.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752384356124:ios:4c8fdd399c881f263194d9</string>
</dict>
</plist>